.card {
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 10px;
  background-color: hsla(0, 100%, 69%, 1);
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  box-shadow: inset 0px -35px 20px -2px rgba(0, 0, 0, 0.25);
}
.card-link {
  cursor: pointer;
}

@media (max-width: 640px) {
  .card {
    width: 100%;
    height: 20rem;
    min-width: 0;
    min-height: 20rem;
    border-radius: 10px;
    background-color: hsla(0, 100%, 69%, 1);
    overflow: hidden;
    position: relative;
  }
  .card-link {
    width: 100%;
  }
}
