.details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.details-container-infos {
  display: flex;
}
.titre-detail {
  color: hsla(0, 100%, 69%, 1);
  font-size: 36px;
  font-weight: 500;
}
.localisation {
  font-weight: 500;
  font-size: 18px;
  color: hsla(0, 100%, 69%, 1);
}
.dropdowns-container {
  display: flex;
  justify-content: space-between;
}
.dropdowns-container .dropdown {
  width: 35rem;
}
.localisation-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.localisation-tags {
  gap: 2rem;
  width: 50%;
}
.titre-localisation {
  display: flex;
  flex-direction: column;
}
.loueur-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  gap: 1.5rem;
}
.loueur {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.loueur-nom {
  color: hsla(0, 100%, 69%, 1);
  text-align: right;
  font-weight: 500;
  font-size: 18px;
}
.loueur-image {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
}
.tags-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.tags {
  display: flex;
  height: 1.5rem;
  color: white;
  background-color: hsla(0, 100%, 69%, 1);
  border-radius: 10px;
  padding: 0 3rem;
  align-items: center;
}

@media (max-width: 640px) {
  .dropdowns-container {
    flex-direction: column;
    gap: 1rem;
  }
  .dropdowns-container .dropdown {
    width: 100%;
  }
  .details-container-infos,
  .note {
    flex-direction: column;
  }
  .details-container-infos {
    gap: 1rem;
  }
  .localisation-tags {
    gap: 2rem;
    width: 100%;
  }
  .titre-detail {
    font-size: 18px;
  }
  .loueur-note {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .star {
    height: 1.5rem;
  }
  .tags-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .tags {
    font-size: 10px;
  }
}
@media (min-width: 641px) and (max-width: 1440px) {
  .dropdowns-container {
    flex-direction: column;
    gap: 1rem;
  }
  .dropdowns-container .dropdown {
    width: 100%;
  }

  .details-container-infos {
    gap: 1rem;
  }
  .localisation-tags {
    gap: 2rem;
    width: 100%;
  }
  .titre-detail {
    font-size: 18px;
  }
  .loueur-note {
    display: flex;

    justify-content: space-between;

    width: 100%;
  }
  .star {
    height: 1.5rem;
  }
  .tags-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .tags {
    font-size: 10px;
  }
}

@media (min-width: 1441px) {
  .dropdowns-container {
    gap: 5rem;
  }
  .dropdowns-container .dropdown {
    width: 100%;
  }

  .details-container-infos {
    gap: 1rem;
  }
  .localisation-tags {
    gap: 2rem;
    width: 100%;
  }
  .titre-detail {
    font-size: 18px;
  }
  .loueur-note {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .star {
    height: 1.5rem;
  }
  .tags-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .tags {
    font-size: 10px;
  }
}
