.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-left: 3rem;
  padding-top: 2rem;
  height: 15%;
  width: 100%;
}

.logo {
  height: 3rem;
}

.navbar {
  display: flex;
  padding-right: 3rem;
  gap: 1rem;
  color: hsla(0, 100%, 69%, 1);
}
a {
  text-decoration: none;
}
a.pending {
  text-decoration: none;
}
a.active {
  color: hsla(0, 100%, 69%, 1);
  text-decoration: underline;
}

a:visited {
  color: hsla(0, 100%, 69%, 1);
}
