.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2rem 6rem;
  background-color: hsla(0, 0%, 100%, 1);
  z-index: 2;
  font-size: 24px;
}

.logo {
  height: 4rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: hsla(0, 100%, 69%, 1);
}
a {
  text-decoration: none;
}
a.pending {
  text-decoration: none;
}
a.active {
  color: hsla(0, 100%, 69%, 1);
  text-decoration: underline;
}

a:visited {
  color: hsla(0, 100%, 69%, 1);
}
