@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(./font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

body {
  height: 100svh;
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
code {
  font-family: Montserrat;
}
