@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(./font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100svw;
}
#root {
  max-height: 100%;
}

code {
  font-family: Montserrat;
}

@media (max-width: 640px) {
  #root {
    height: 100%;
  }
  body {
    height: 100svh;
    width: 100svw;
  }
}

@media (min-width: 641px) and (max-width: 1080px) {
  #root {
    height: 100%;
  }
  body {
    height: 100svh;
    width: 100svw;
  }
}
